<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Old+Persian&display=swap" rel="stylesheet">
    <title>Portifolio</title>
</head>
<body>
    <header>
        <img class="logo" src="../assets/favicon.ico" alt="Logo">
        <nav>
            <ul>
                <li>
                    <a class="sobre" href="../index.html">Pagina Inicial</a>
                </li>
                <li>
                    <a class="sobre" href="../sobreMim/sobre.html">Sobre mim</a>
                </li>
                <li>
                    <a class="sobre" href="../formacao/formacao.html">Formação</a>
                </li>
                <li>
                    <a class="sobre" href="../contatos/contato.html">Contatos</a>
                </li>
            </ul>
        </nav>
    </header>
<footer>
    <div class="interface">
        <div class="line-footer">
            <div class="flex"> 
                <div class="logo-footer">
                    <img src="../assets/favicon.ico" alt="logo">
                 </div><!-- logoFooter -->
                <div class="btn-social">
                    <a href="https://www.instagram.com/grazyperolaoficial/?next=%2F">
                        <img  src="../assets/instagram.png" alt="Instagram">
                    </a>
                    <a href="https://github.com/Grazy222">
                        <img src="../assets/github-icon-2-svg.png" alt="Github">
                    </a>
                    <a href="https://www.linkedin.com/in/graciele-pereira-1584201b7/">
                        <img src="../assets/linkedin.png" alt="Linkedin">
                    </a>
                </div><!-- btn-social -->
             </div><!-- flex -->
        </div> <!--line-footer -->
        <div class="line-footer borda">
            <p>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-arrow-up" viewBox="0 0 16 16">
                    <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v4.5a.5.5 0 0 1-1 0V5.383l-7 4.2-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h5.5a.5.5 0 0 1 0 1H2a2 2 0 0 1-2-1.99zm1 7.105 4.708-2.897L1 5.383zM1 4v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1"/>
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.354-5.354 1.25 1.25a.5.5 0 0 1-.708.708L13 12.207V14a.5.5 0 0 1-1 0v-1.717l-.28.305a.5.5 0 0 1-.737-.676l1.149-1.25a.5.5 0 0 1 .722-.016"/>
                  </svg>
                <!-- <i class="bi bi-envelope-arrow-up"></i> -->
                <a href="mailto:graciele222@gmail.com">graciele222@gmail.com</a>
            </p>
        </div>
    </div><!--  interface -->
</footer>
</body>
</html>