<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Old+Persian&display=swap" rel="stylesheet">
    <title>Portifolio</title>
</head>
<body>
    <header>
        <img class="logo" src="../assets/favicon.ico" alt="Logo">
        <nav>
            <ul>
                <li>
                    <a class="sobre" href="../index.html">Pagina Inicial</a>
                </li>
                <li>
                    <a class="sobre" href="../sobreMim/sobre.html">Sobre mim</a>
                </li>
                <li>
                    <a class="sobre" href="../formacao/formacao.html">Formação</a>
                </li>
                <li>
                    <a class="sobre" href="../contatos/contato.html">Contatos</a>
                </li>
            </ul>
        </nav>
    </header>
</body>
</html>